
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
font-weight: 700;
}

.colored-section p {
  color: #fff;
}
 .white-section p{
  color: #393D3F;
  font-weight: 500;
}
/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
  position: relative;
z-index: 1;
}

.subheading{
  position: relative;
z-index: 1;
font-size: 1.4rem;
padding-top: 10px;

}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 3rem;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #57cdcd;
  color: white;
}

.white-section {
  background-color: #fff;
  padding-top: 30px;
}

/* Navigation Bar */

.navbar {
  background-color: #57cdcd;
  padding: 0 15% 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

.fone{
  color:   white;
  font-weight: bold;

}
.navbar-nav > li > .dropdown-menu { background-color: #57cdcd; border-color: white; color: rgba(255, 255, 255, 0.72);}
.navbar-nav > li > .dropdown-menu > .dropdown-item:hover { background-color: transparent; color: white;}

.dropdown-item{
  color: rgba(255, 255, 255, 0.72);
}
/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #57cdcd;
  color: #fff;
  text-align: left;
  z-index: -2;
}

#title .container-fluid {
  padding: 10% 15% 3%;
  z-index: -2;
}

/* Title Image */

.title-image {
  width: 150%;
  right: 30%;
  position: relative;
z-index: 0;
padding-bottom: 0;
}

/* sobre Section */

#sobre {
  position: relative;
}
#sobre .container-fluid {
padding-top: 3%;}
.feature-title {
  font-size: 1.5rem;
  color: #319a9a;
}

.feature-box {
  padding: 2.5%;

}
.feature-icon{
  width: 80px;
  margin-bottom: 1rem;
}


/* Testimonial Section */



.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius:50%;
  margin: 20px;
}


#press {
  background-color: #fff;
  padding: 5% 0 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#services {
  padding: 100px;

    background: url("services2.jpg") no-repeat center center fixed;

    background-size: cover;
    /* For flexibility */

}
.services-box{
margin: 2% 0;
}
/* #services .section-heading{
  margin-left: 25%;
  text-align: left;
} */
.services-image {
  width: 40%;
  position:relative;

        top:0; bottom:0;
        background-color: transparent;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */

.footer{
  background: white;
  color: #319a9a;
text-align: left;
  .links{
    ul {list-style-type: none;}
    li a{
      color:  #319a9a;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }
  .about-company{
    i{font-size: 25px;}
    a{
      color: #319a9a;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  }
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid; color: #319a9a;}
 p{ color: #319a9a;}
}
